@using Shopping.Models.Vnpay
@model PaymentResponseModel

@{
    ViewData["title"] = "Payment Call Back VnPay page";
}
<h5>Payment success</h5>
<h6>OrderID: @Model.OrderId</h6>
<h6>OrderInfo: @Model.OrderDescription</h6>
<h6>Grand Toltal: @Model.PaymentMethod</h6>
<h5>Show <a asp-action="History" asp-controller="Account">History Ordered</a></h5>